[Desktop Entry]
Version=1.0
Type=Application
Name=M5 Imager (Embedded)
Comment=M5 Imager for embedded systems
Exec=rpi-imager-embedded
Icon=rpi-imager
Terminal=false
Categories=System;Utility;Embedded;
Keywords=raspberry;pi;imager;embedded;linuxfb;headless;
X-GNOME-SingleWindow=true
StartupNotify=false 